{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous - La Boutique J-C.B{% endblock %}

{% block content %}
<div class="container">
    <h2>IDENTIFICATION</h2>
    <br>
    <p>Les stylistes et designers de La Boutique J-C.B constituent des savoir-faire exceptionnels qui façonnent chaque année, le style à la française,le rendent accessible au plus grand nombre. Plus de 70% du chiffre d’affaires de La Boutique J-C.B est réalisé par les marques propres de La de La Boutique J-C.B.</p>

    <p>Nous voulons surprendre nos clients par de nouvelles associations tout en rendant nos créations accessibles au plus grand nombre. Le beau ne doit pas être hors de prix ! Nous travaillons chaque jour à imaginer des collections de textiles qui apportent style, esthétisme et sens du pratique.</p>

    <p>Il s’agit pour nous de positionner l’offre de La Boutique J-C.B dans l’air du temps et des tendances actuelles. Nous apportons un vent de modernité à chaque saison par le biais de collections exclusives.</p>
    
    <p>Notre mission est de perpétuer l’ADN Mode de La Boutique J-C.B : une mode accessible, démocratique et optimiste, mais dans un esprit contemporain. </p>
    
</div>
    
{% endblock %}
