{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}
    
{% block content %}

<h3>Nos meilleurs ventes</h3>
<p>Découvrez les articles les plus vendus.</p>

<div class="row">
  {% for product in products %}
        <div class="col-md-3">
          {% include "product/single_product.html.twig" %}
        </div>   
  {% endfor %}
</div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Le shopping est un plaisir <span class="text-muted">facile.</span></h2>
        <p class="lead">Notre système vous propose une sélection d'articles susceptibles de vous intéresser sur la plateforme commerciale en fonction de ceux que vous avez recherchés, vus, achetés ou ajoutés à votre panier.</p>
      </div>
      <div class="col-md-5">
        <img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid" alt="une boutique ouverte toute l'année">
      </div>
    </div>
    

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Création Française, soigné par <span class="text-muted">nos couturiers.</span></h2>
        <p class="lead">Quand vous achetez un de nos produits, vous achetez de la création et de la fabrication française. Nous attachons une grande importance à l’achat de nos matières premières en privilégiant des matières première locaux ou bien de diverses régions françaises.</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid" alt="un savoir français">

      </div>
    </div>

    <!-- /END THE FEATURETTES -->


{% endblock %}


