{% extends 'base.html.twig' %}

{% block title %}CGV - La Boutique J-C.B{% endblock %}

{% block content %}
    <div class="container">
        <h2>CONDITIONS D'UTILISATION ET GENERALES DE VENTE</h2>
        <br>
        <p>CONDITIONS D'UTILISATION <br>
        Merci de lire ces conditions attentivement avant d'utiliser les Services de la Boutique J-C.B. <br> En utilisant les Services de la Boutique J-C.B, vous acceptez d'être soumis aux présentes conditions. Nous offrons un large panel de Services de la Boutique J-C.B et il se peut que des conditions additionnelles s'appliquent. Quand vous utilisez un Service de la Boutique J-C.B(par exemple, Votre Profil, les Chèques-Cadeaux ou les Applications de la Boutique J-C.B pour mobile), vous êtes aussi soumis aux termes, lignes directrices et conditions applicables à ce Service de la Boutique J-C.B (« Conditions du Service »). Si ces Conditions d'Utilisation entrent en contradiction avec ces Conditions du Service, les Conditions du Service prévaudront.</p>

        <p>2. RECOMMANDATIONS ET PERSONNALISATION <br>
        Dans le cadre des Services de la Boutique J-C.B, nous vous recommanderons des fonctionnalités, des produits et des services, comprenant des publicités de tiers, qui sont susceptibles de vous intéresser, nous identifierons vos préférences et nous personnaliserons votre expérience.</p>

        <p>3. PROPRIETE INTELLECTUELLE, DROIT D'AUTEUR, ET PROTECTION DES BASES DE DONNEES <br>
        Tout le contenu présent ou rendu disponible à travers les Services de la Boutique J-C.B, tels que les textes, les graphiques, les logos, les boutons, les images, les morceaux de musique, les téléchargements numériques, et les compilations de données, est la propriété de la Boutique J-C.B, de ses sociétés affiliées ou de ses fournisseurs de contenu et est protégé par le droit luxembourgeois et international de la propriété intellectuelle, d'auteur et de protection des bases de données. La compilation de tout le contenu présent ou rendu disponible à travers les Services de la Boutique J-C.B est la propriété exclusive de la Boutique J-C.B et est protégé par le droit luxembourgeois et international de la propriété intellectuelle et de protection des bases de données.</p>
    </div>
{% endblock %}
