{% extends 'base.html.twig' %}

{% block title %}Mentions légales - La Boutique J-C.B{% endblock %}

{% block content %}
<div class="container">
    <h2>Mentions légales</h2>
    <br>
    <p>La Boutique J-C.B est une marque commerciale utilisée par La Boutique J-C.B EU SARL. Nos informations de contact sont les suivantes : <br>
    
La Boutique J-C.B EU SARL, Société à responsabilité limitée, 38 avenue John F. Kennedy, L-1855 Luxembourg.<br>
Capital social : 125.000 €<br>
Enregistrée au Luxembourg<br>
RCS Luxembourg N° : Z-310181<br>
Numéro de licence : 331342<br>
Numéro de TVA intracommunautaire : LU 34260743</p>
<p>Succursale en France : <br>
La Boutique J-C.B EU SARL, succursale française, 34 Boulevard du General Leclerc, Clichy 92110, France <br>
Enregistrée en France <br>
Immatriculation au RCS, numéro : 487773367 R.C.S. Nanterre <br>
Numéro de TVA intracommunautaire : FR 23487773378</p>
</div>
    
{% endblock %}
