

		<!-- FOOTER -->
		<footer class="footer-custom">
			<p>
				&copy; 2021–2022 La Boutique J-C.B
				<br>

				<small>La boutique Française
					<br>
					<a href="{{ path('app_cgv') }}">CGV</a>
					.
					<a href="{{ path('app_contact') }}">Contact</a> .
					<a href="{{ path('app_mention_legales') }}">Mentions légales</a>
				</small>
			</p>
		</footer>